.catr {
  background-color: rgb(95, 110, 105);
  margin: 2px;
  padding: 2px;
  border-radius: 10px;
}
p {
  margin: 5px;
}
.crt-btn {
  border: none;
  background-color: orange;
  color: white;
  width: 90%;
  padding: 8px 0;
  border-radius: 30px 2px 30px 2px;
}
